<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="dist/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
    <title>Document</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="head_wrap">
                <img src="img/logo.svg" alt="">
                <ul>
                    <li v-for="element in headNav">{{element}}</li>
                </ul>
                <div class="btn">
                    <i class="fab fa-google"></i>
                    <p>Sign Up</p>
                </div>
            </div>
            <hr>
        </header>
        <main>
            <!-- jumbo -->
            <div class="jumbo">
                <div class="jumbo_text">
                    <h1>Understand, develop and recognixze your people</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quam laboriosam</p>
                    <div class="login">
                        <div class="btn"><i class="fab fa-google"></i>Sign up With Google</div>
                        <span>or</span>
                        <div class="btn"><i class="fab fa-slack"></i>Sign Up with Slack</div>
                    </div>
                    <p>or use your email adress<i class="fas fa-arrow-right"></i></p>
                </div>
                <img src="img/illustration-main.jpg" alt="">
            </div>
            <!-- fine jumbo -->
            <!-- under jumbo -->
            <div class="under_jumbo_wrap">
                <div class="under_jumbo_div">
                    <h1>Traditional people lorem impsum dolor and turnover</h1>
                    <div class="under_jumbo_img">
                        <div>
                            <img src="img/hardcore.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div>
                            <img src="img/nofeedback.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div>
                            <img src="img/notsafe.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <img src="img/before.png" alt="">                   
                </div>
                <hr>
                <div class="under_jumbo_div">
                    <h1>I doesn't need to be like that lorem impsum dolor and teammates love.</h1>
                    <div class="under_jumbo_img">
                        <div>
                            <img src="img/lightweight.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div>
                            <img src="img/feedbacksuggestions.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div>
                            <img src="img/safe.png" alt="">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <img src="img/after.png" alt="">                   
                </div>
            </div>
            <!-- fine under jumbo -->
            <!-- feedback -->
            <div class="feedback">
                <div class="feedback_row">
                    <img src="img/employee-feedback.jpg" alt="">
                    <div class="feedback_text">
                        <h1>Feedback to help teammate</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat impedit exercitationem commodi iste ipsa ipsum, modi deserunt similique blanditiis incidunt neque, minus tempora vero, eius veniam. Vel delectus assumenda laboriosam?</p>
                        <p>Learn more<i class="fas fa-arrow-right"></i></p>
                        <img src="img/communication.jpg" alt="">
                    </div>                    
                </div>
                <div class="feedback_row">
                    <div class="feedback_text pair">
                        <h1>Feedback to help teammate</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat impedit exercitationem commodi iste ipsa ipsum, modi deserunt similique blanditiis incidunt neque, minus tempora vero, eius veniam. Vel delectus assumenda laboriosam?</p>
                        <p>Learn more<i class="fas fa-arrow-right"></i></p>
                        <img src="img/insights.jpg" alt="">
                    </div>
                    <img src="img/employee-survey.jpg" alt="">                    
                </div>
                <div class="feedback_row">
                    <img src="img/performance-review.jpg" alt="">
                    <div class="feedback_text">
                        <h1>Feedback to help teammate</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat impedit exercitationem commodi iste ipsa ipsum, modi deserunt similique blanditiis incidunt neque, minus tempora vero, eius veniam. Vel delectus assumenda laboriosam?</p>
                        <p>Learn more<i class="fas fa-arrow-right"></i></p>
                        <img src="img/review.jpg" alt="">
                    </div>                    
                </div>
                <div class="feedback_row">
                    <div class="feedback_text pair">
                        <h1>Feedback to help teammate</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat impedit exercitationem commodi iste ipsa ipsum, modi deserunt similique blanditiis incidunt neque, minus tempora vero, eius veniam. Vel delectus assumenda laboriosam?</p>
                        <p>Learn more<i class="fas fa-arrow-right"></i></p>
                        <img src="img/recognition.jpg" alt="">
                    </div>
                    <img src="img/employee-survey.jpg" alt="">                    
                </div>
            </div>
            <!-- fine feedback -->
            <!-- inizio teambit -->
            <div class="teambit">
                <h1>See your teambit for second. Get started for yourself</h1>
                <img src="img/chat.svg" alt="">
                <div class="teambit_text">
                    <i class="fas fa-quote-left"></i>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime similique eligendi et, ex magnam provident optio architecto a animi fugit totam cumque, ducimus ipsum. Dolorem nihil molestiae quos repellendus ullam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime similique eligendi et, ex magnam provident optio architecto a animi fugit totam cumque, ducimus ipsum. Dolorem nihil molestiae quos repellendus ullam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime similique eligendi et, ex magnam provident optio architecto a animi fugit totam cumque, ducimus ipsum. Dolorem nihil molestiae quos repellendus ullam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime similique eligendi et, ex magnam provident optio architecto a animi fugit totam cumque, ducimus ipsum. Dolorem nihil molestiae quos repellendus ullam.</p>
                    <div class="teambit_creators">
                        <img src="img/alex.png" alt="">
                        <img src="img/bohdan.png" alt="">
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div>
                <div class="login">
                    <div class="btn"><i class="fab fa-google"></i>Sign up With Google</div>
                    <span>or</span>
                    <div class="btn"><i class="fab fa-slack"></i>Sign Up with Slack</div>
                </div>
                <p>or use your email adress<i class="fas fa-arrow-right"></i></p>
            </div>
            <!-- fine teambit -->
        </main>
        <!-- fine main -->
        <!-- inizio footer -->
        <footer>
            <div class="foot_logo">
                <img src="img/logo-small.svg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda fugit saepe commodi aliquam itaque, ex vitae labore harum facere. Sed voluptatem.</p>
            </div>
            <ul> <h4>Product</h4>
                <li v-for="element in product">{{element}}</li>
            </ul>
            <ul> <h4>Labs</h4>
                <li v-for="element in labs">{{element}}</li>
            </ul>
            <ul> <h4>About</h4>
                <li v-for="element in about">{{element}}</li>
            </ul>
            <ul> <h4>Connect</h4>
                <li v-for="element in connect">{{element}}</li>
            </ul>
            <ul> <h4>From the Blog</h4>
                <li v-for="element in fromTheBlog">{{element}}</li>
            </ul>
        </footer>
        <!-- fine footer -->
    </div>
   
    <script src="src/main.js"></script>
</body>
</html>