footer {
    display: flex;
    width: 80%;
    padding: $brandPadding;
    .foot_logo {
        width: 30%;
    }
    h4 {
        padding-bottom: 40px;
    }
    li {
        padding: 5px 0 5px 0;
    }
}