footer {
    display: flex;
    width: 80%;
    padding: $brandPadding;
    .foot_logo {
        display: flex;
        width: 30%;
        img {
            justify-content: flex-start;
            width: 50px;
        }
    }
    h4 {
        padding-bottom: 40px;
    }
    li {
        padding: 5px 0 5px 0;
    }
}